.header {
    text-align: center;
    background-image: url("https://gfycat.com/breakablecarefreecurlew");
    height: 125px;
    font-size: 70px;
    font-family: cursive;

}
.body {
    background:3C467C;
background: -moz-radial-gradient(center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: -webkit-radial-gradient(center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: radial-gradient(ellipse at center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);

font-family: fantasy;
}
.border {
    border: 2px outset #000000;
}





.flex-container {
        width: 775px;
        text-align: left;
        display: flex;
        justify-content: space-around;
        
        
      }



.p{
    flex-wrap: wrap;
    width: 600px;
    text-align: justify;

}
.quiz {
    text-align: center;
}
.button {
    background-color: blueviolet;
    font-size: 30px;
}
.result{
    font-size: 20px;
}