.header {
    text-align: center;
    background-color: blanchedalmond;
    height: 125px;
    font-size: 70px;
    font-family: cursive;

}
.body {
    background:3C467C;
background: -moz-radial-gradient(center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: -webkit-radial-gradient(center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: radial-gradient(ellipse at center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
text-align: center;
font-family: fantasy;
}
.border {
    border: 2px outset #000000;
}

    color: crimson;
    background-image: url("https://media.giphy.com/media/2sebI6np6MGKvoOGZK/giphy.gif");
    grid-area: footer;
}

.section {
    text-align: center;
   

}
.main {
}